.careerfy-row li{
    padding: 0px 10px;
}

.disabled{
    background-color:#eee !important;
}

.full-width{
    width:100%;
}

input[type="reset"] {
    background-color: #f05e5c !important;
    color: #fff !important;
    border-color: #f3d8d7 !important;
    width: 100%;
}