 /* ThemeColor One */
.jobsearch-header-six .jobsearch-headfive-option li a,.jobsearch-banner-six .slick-arrow:hover,.jobsearch-team-parallex span,.jobsearch-blog-medium-btn {
    color: #f15f5c;
}
.jobsearch-header-six .jobsearch-headfive-option li.active a,.jobsearch-banner-six-caption a,.jobsearch-banner-search-six input[type="submit"],
.jobsearch-animate-filter ul li a.is-checked,.jobsearch-services-fourtext h2:before,.jobsearch-dream-packages.active .jobsearch-dream-packagesplan {
    background-color: #005b9f;
}
.jobsearch-header-six,.jobsearch-banner-six .slick-arrow:hover {
    /* border-color: #f15f5c; */
    border-color: #ffffff;
    box-shadow: 0px 0px 5px 0px #fff;
}

.jobsearch-banner-six .slick-arrow:hover{
    color:#fff;
}